
@using labFingesoParte2.Models
@model ConvenioDeDesempeño

<body>
    <div>
        <div class="col-md-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="text-center">Convenio de desempeño</h3>
                </div>
                <div class="panel-body">
                    <p>Aquí se encuentra un resumen de las horas comprometidas para las distintas areas académicas en la que usted se puede desenvolver.</p>
                </div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Item académico</th>
                            <th>Horas semanales comprometidas</th>
                            <th>Horas anuales comprometidas</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Docencia</td>
                            <td>@Model.getHorasPromedioSemanalesPrometidas()</td>
                            <td>@Model.getHorasPromedioAnualesPrometidas()</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div> 
    </div>
</body>
