


<body>
    <div> 
        <div class="col-md-10">
            <div class="jumbotron">
                <h2>Bienvenido a la plataforma</h2>
                <p>Gestiona tu convenio de desempeño y tus actividades académicas de manera <strong>rápida y fácil</strong>.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <h3>Convenio de desempeño</h3>
                <p>Planifica las actividades con las que te comprometerás este año y el tiempo que estimes ocupar en ellas.</p>
                <p><a class="btn btn-default" href="/Academico/Convenio">Acceder <span class="glyphicon glyphicon-share-alt"></span></a></p>
            </div>
            <div class="col-md-5">
                <h3>Actividades académicas</h3>
                <p>Registra y revisa las actividades que vayas realizando en el tiempo.</p>
                <p><a class="btn btn-default" href="/Academico/Actividades">Acceder <span class="glyphicon glyphicon-share-alt"></span></a></p>
            </div>
        </div>
    </div>
</body>
